<header>
    <div class="header">
        <div class="logo">
            <a href="{{ path('all_figure') }}">
                <img src="/images/default.jpg" alt="">
            </a>

        </div>
        <div class="menu">
            <a href="{{ path('all_figure') }}">Accueil</a>
            <a href="">Tricks</a>
            <a href="">Connexion</a>
            <a href="">Inscription</a>
        </div>
    </div>
</header>